main
	.container
		.panel.panel-default
			.panel-heading
				.row
					form(ng-submit="vm.addNewEx()")
						.col-sm-11.col-xs-11.add_item_block
							input.form-control.ex_input(type="text" ng-model="vm.newex")
						.col-sm-1.col-xs-1.text-right.add_item_plus
							button.btn.btn-raised.btn-success.simple_btn(type="submit")
								i.fa.fa-plus-circle(aria-hidden="true")
			.panel-body
				ul.exercises_list
					li.exercises_item(ng-repeat="ex in vm.exslist")
						.col-sm-11.col-xs-11
							input.form-control(type="text" ng-model="ex.$value" ng-change="vm.exslist.$save(ex)")
						.col-sm-1.col-xs-1.text-right
							button.btn.btn-raised.btn-danger.simple_btn(ng-click="vm.exslist.$remove(ex)")
								i.fa.fa-times-circle-o(aria-hidden="true")