.panel
	form(ng-submit="vm.addNewWord()")
		.panel-body
			.row
				.col-sm-12.col-xs-12.add_item_block
					.form-group
						input.form-control(type="text" ng-model="vm.newWord" placeholder="Caption" required)
			.row
				.col-sm-12.col-xs-12.add_item_block
					.form-group
						textarea.form-control(type="text" ng-model="vm.newWordTranslation" placeholder="Description" required)
		.panel-footer
			.row
				.col-sm-12.col-xs-12.text-right.add_item_plus
					button.btn.btn-raised.btn-success(type="submit")
						| Add note
.panel
	.panel-body
		.list-group
			.list-group-item(ng-repeat="word in vm.wordsList")
				.row
					.col-sm-12.col-xs-12.add_item_block
						.form-group
							input.form-control(type="text" ng-model="vm.newWord" placeholder="Caption")
				.row
					.col-sm-12.col-xs-12.add_item_block
						.form-group
							textarea.form-control(type="text" ng-model="vm.newWordTranslation" placeholder="Description")