main
	.container.container_start
		.start
			.start__cptn Parlaria
			.start__slogan the place your language lives
			.start__login(ng-show="!$root.firebaseUser")
				a.login.btn.btn-raised.btn-lg(ng-click="vm.signIn()") Login