.common-container-wr
	.container
		.panel
			.panel-heading
				| How many 
				strong words
				|  will I know and 
				strong when
				| ?
			.panel-body(ng-show="!vm.isAbleToMakeForecast")
				| Unable to make a forecast. It is needed to have 
				strong words in a dictionary
				|  and they must be added at least 
				strong in two different days
				| .
			.panel-body(ng-show="vm.isAbleToMakeForecast")
				.i-want
					input.form-control(type="number" ng-model="vm.numberOfWordsToKnow" placeholder="Number of words I want to know" ng-change="vm.makeForecast(vm.wordsList, vm.wordsList.length)")
				.progress.progress-striped.active.progress-words
					.progress-bar.progress-bar-info(style="width: {{vm.progressValue}}")
						span(ng-show="vm.progressValue") {{vm.progressValue}}
				.row.progress-bar-labels
					.progress-bar-label
						| I know 
						strong {{vm.wordsList.length}}
						span(ng-show="vm.numberOfWordsToKnow > vm.wordsList.length")
							|  of 
							strong {{vm.numberOfWordsToKnow}}
							| .
							span
								| The rest words I will have learnt by 
								span
									strong {{vm.forecastDate}}
									| .
		.panel(ng-show="vm.wordsList.length")
			.panel-heading
				| How many 
				strong words
				|  I've learnt
			.panel-body
				.col-sm-9.col-xs-9
					canvas#line.chart.chart-line(chart-data='vm.wordsValues', chart-labels='vm.wordsLabels', chart-options='options', chart-dataset-override='datasetOverride', chart-click='onClick')
				.col-sm-3.col-xs-3.text-right
					| Total amount: 
					strong {{vm.numberOfWords}}
					div.pie-wr(ng-show="vm.numberOfEssays")
						canvas#pie.chart.chart-pie(chart-data='vm.pieData' chart-labels='vm.pieLabels' chart-options='optionsPie' height="350px")
		.panel(ng-show="vm.essaysList.length")
			.panel-heading
				| How many 
				strong essays
				|  I've written
			.panel-body
				.col-sm-9.col-xs-9
					canvas#bar.chart.chart-bar(chart-data='vm.essaysValues' chart-labels='vm.essaysLabels' chart-options="optionsEssay" chart-dataset-override="datasetOverrideEssay")
				.col-sm-3.col-xs-3.text-right
					| Total amount: 
					strong {{vm.numberOfEssays}}
		.panel(ng-show="!vm.wordsList.length && !vm.essaysList.length")
			.panel-body
				| There is no statistics. You have not added neither
				strong word
				|  nor 
				strong essay
				| .