main
	.container
		.ox_block
			ul.days_list
				li.days_item(ng-repeat="(dayIndex, day) in vm.program")
					.panel.panel-default
						.panel-heading
							.row.day_wr
								.col-sm-12 {{day.$id}}
							.row.tablehead_wr
								.col-sm-7.col-xs-7.exercise_cptn Exercise
								.col-sm-2.col-xs-2.exercise_cptn Sets
								.col-sm-2.col-xs-2.exercise_cptn Repeats
						.panel-body
							.row.exercises_content
								.row.exercises_row(ng-repeat="ex in vm.program[dayIndex]")
									.col-sm-7.col-xs-7
										.exercise_value {{ex.name}}
									.col-sm-2.col-xs-2
										input(type="text" ng-value="ex.sets").form-control.simple_input
									.col-sm-2.col-xs-2
										input(type="text" ng-value="ex.repeats").form-control.simple_input
									.col-sm-1.col-xs-1.text-right
										button.btn.btn-raised.btn-danger.simple_btn(ng-click="vm.removeExFromProgram(day.$id, $index)")
											i.fa.fa-times-circle-o(aria-hidden="true")
		.row.add_ex.text-right
			button.btn.btn-raised.btn-success.btn_add_ex(data-toggle='modal', data-target='#addExModal')
				i.fa.fa-plus-circle(aria-hidden="true")
				|  Add exercise

		#addExModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='addExLabel')
			.modal-dialog(role='document')
				.modal-content
					.modal-header
						button.close(type='button', data-dismiss='modal', aria-label='Close')
							span(aria-hidden='true') &times;
						h4#addExLabel.modal-title Add exercises
					.modal-body
						.form-group.addexs_group
							.row
								.col-sm-12.col-xs-12.no-pad-l.no-pad-r
									label(for='selDayOfWeek') Day of week:
									select#selDayOfWeek.form-control(ng-model="vm.newProgramExDay" ng-init="vm.newProgramExDay = 'Monday'")
										option(value="Monday") Monday
										option(value="Tuesday") Tuesday
										option(value="Wednesday") Wednesday
										option(value="Thursday") Thursday
										option(value="Friday") Friday
										option(value="Saturday") Saturday
										option(value="Sunday") Sunday
							.row
								.row.sel_exs_head
									.col-sm-8.col-xs-8.no-pad-l
										label Exercise
									.col-sm-2.col-xs-2
										label Sets
									.col-sm-2.col-xs-2.no-pad-r
										label Repeats
								.row.sel_exs_content
									.row
										.col-sm-8.col-xs-8.no-pad-l
											select#selExFromList.form-control(ng-model="vm.newProgramExName")
												option(ng-repeat="item in vm.exslist" ng-value="item.$value") {{item.$value}}
										.col-sm-2.col-xs-2
											input(type="text" ng-model="vm.newProgramExSets").form-control.simple_input
										.col-sm-2.col-xs-2.no-pad-r
											input(type="text" ng-model="vm.newProgramExRepeats").form-control.simple_input
					.modal-footer
						.col-sm-12.col-xs-12.no-pad-r
							button.btn.btn-raised.btn-success(ng-click="vm.addExToProgram()") Add