.navbar.navbar-inverse.navbar-fixed-top(ng-controller="NavbarCtrl as vm")
    .container
        .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-inverse-collapse')
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(ui-sref='/') Parlaria
        .navbar-collapse.collapse.navbar-inverse-collapse
            ul.nav.navbar-nav(ng-if="$root.firebaseUser")
                li(ui-sref-active="active")
                    a(ui-sref='words' href="") words
                li(ui-sref-active="active")
                    a(ui-sref='essay' href="") essay
                li(ui-sref-active="active")
                    a(ui-sref='notes' href="") notes
            ul.nav.navbar-nav.navbar-right(ng-if="!$root.firebaseUser")
                li
                    a(href='javascript:void(0)' ng-click="vm.signIn()")
                        i.fa.fa-sign-in
                        |  Login
            ul.nav.navbar-nav.navbar-right(ng-if="$root.firebaseUser")
                li
                    a(href='javascript:void(0)' ng-click="vm.signOut()")
                        i.fa.fa-bar-chart
                        |  My stats
                li
                    a(href='javascript:void(0)' ng-click="vm.signOut()")
                        i.fa.fa-cogs
                        |  Settings
                li
                    a(href='javascript:void(0)' ng-click="vm.signOut()")
                        i.fa.fa-sign-out
                        |  Sign out