<main>
	<div class="container">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="row">
					<form ng-submit="vm.addNewEx()">
						<div class="col-sm-11 col-xs-11 add_item_block">
							<input class="form-control ex_input" type="text" ng-model="vm.newex" />
						</div>
						<div class="col-sm-1 col-xs-1 text-right add_item_plus">
							<button class="btn btn-raised btn-success simple_btn" type="submit">
								<i class="fa fa-plus-circle" aria-hidden="true"></i>
							</button>
						</div>
					</form>
				</div>
			</div>
			<div class="panel-body">
				<ul class="exercises_list">
					<li class="exercises_item" ng-repeat="ex in vm.exslist">
						<div class="col-sm-11 col-xs-11">
							<input class="form-control" type="text" ng-model="ex.$value" ng-change="vm.exslist.$save(ex)" />
						</div>
						<div class="col-sm-1 col-xs-1 text-right">
							<button class="btn btn-raised btn-danger simple_btn" ng-click="vm.exslist.$remove(ex)">
								<i class="fa fa-times-circle-o" aria-hidden="true"></i>
							</button>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</main>