<div class="panel">
	<form ng-submit="vm.addNewWord()">
		<div class="panel-body">
			<div class="row">
				<div class="col-sm-12 col-xs-12 add_item_block">
					<div class="form-group">
						<input class="form-control" type="text" ng-model="vm.newWord" placeholder="Caption" required="required" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 col-xs-12 add_item_block">
					<div class="form-group">
						<textarea class="form-control" type="text" ng-model="vm.newWordTranslation" placeholder="Description" required="required"></textarea>
					</div>
				</div>
			</div>
		</div>
		<div class="panel-footer">
			<div class="row">
				<div class="col-sm-12 col-xs-12 text-right add_item_plus">
					<button class="btn btn-raised btn-success" type="submit">Add note</button>
				</div>
			</div>
		</div>
	</form>
</div>
<div class="panel">
	<div class="panel-body">
		<div class="list-group">
			<div class="list-group-item" ng-repeat="word in vm.wordsList">
				<div class="row">
					<div class="col-sm-12 col-xs-12 add_item_block">
						<div class="form-group">
							<input class="form-control" type="text" ng-model="vm.newWord" placeholder="Caption" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 col-xs-12 add_item_block">
						<div class="form-group">
							<textarea class="form-control" type="text" ng-model="vm.newWordTranslation" placeholder="Description"></textarea>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>