<main>
	<div class="container">
		<div class="ox_block">
			<ul class="days_list">
				<li class="days_item" ng-repeat="(dayIndex, day) in vm.program">
					<div class="panel panel-default">
						<div class="panel-heading">
							<div class="row day_wr">
								<div class="col-sm-12">{{day.$id}}</div>
							</div>
							<div class="row tablehead_wr">
								<div class="col-sm-7 col-xs-7 exercise_cptn">Exercise</div>
								<div class="col-sm-2 col-xs-2 exercise_cptn">Sets</div>
								<div class="col-sm-2 col-xs-2 exercise_cptn">Repeats</div>
							</div>
						</div>
						<div class="panel-body">
							<div class="row exercises_content">
								<div class="row exercises_row" ng-repeat="ex in vm.program[dayIndex]">
									<div class="col-sm-7 col-xs-7">
										<div class="exercise_value">{{ex.name}}</div>
									</div>
									<div class="col-sm-2 col-xs-2">
										<input class="form-control simple_input" type="text" ng-value="ex.sets" />
									</div>
									<div class="col-sm-2 col-xs-2">
										<input class="form-control simple_input" type="text" ng-value="ex.repeats" />
									</div>
									<div class="col-sm-1 col-xs-1 text-right">
										<button class="btn btn-raised btn-danger simple_btn" ng-click="vm.removeExFromProgram(day.$id, $index)">
											<i class="fa fa-times-circle-o" aria-hidden="true"></i>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="row add_ex text-right">
			<button class="btn btn-raised btn-success btn_add_ex" data-toggle="modal" data-target="#addExModal">
				<i class="fa fa-plus-circle" aria-hidden="true"></i> Add exercise</button>
		</div>
		<div class="modal fade" id="addExModal" tabindex="-1" role="dialog" aria-labelledby="addExLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button class="close" type="button" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="addExLabel">Add exercises</h4>
					</div>
					<div class="modal-body">
						<div class="form-group addexs_group">
							<div class="row">
								<div class="col-sm-12 col-xs-12 no-pad-l no-pad-r">
									<label for="selDayOfWeek">Day of week:</label>
									<select class="form-control" id="selDayOfWeek" ng-model="vm.newProgramExDay" ng-init="vm.newProgramExDay = 'Monday'">
										<option value="Monday">Monday</option>
										<option value="Tuesday">Tuesday</option>
										<option value="Wednesday">Wednesday</option>
										<option value="Thursday">Thursday</option>
										<option value="Friday">Friday</option>
										<option value="Saturday">Saturday</option>
										<option value="Sunday">Sunday</option>
									</select>
								</div>
							</div>
							<div class="row">
								<div class="row sel_exs_head">
									<div class="col-sm-8 col-xs-8 no-pad-l">
										<label>Exercise</label>
									</div>
									<div class="col-sm-2 col-xs-2">
										<label>Sets</label>
									</div>
									<div class="col-sm-2 col-xs-2 no-pad-r">
										<label>Repeats</label>
									</div>
								</div>
								<div class="row sel_exs_content">
									<div class="row">
										<div class="col-sm-8 col-xs-8 no-pad-l">
											<select class="form-control" id="selExFromList" ng-model="vm.newProgramExName">
												<option ng-repeat="item in vm.exslist" ng-value="item.$value">{{item.$value}}</option>
											</select>
										</div>
										<div class="col-sm-2 col-xs-2">
											<input class="form-control simple_input" type="text" ng-model="vm.newProgramExSets" />
										</div>
										<div class="col-sm-2 col-xs-2 no-pad-r">
											<input class="form-control simple_input" type="text" ng-model="vm.newProgramExRepeats" />
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<div class="col-sm-12 col-xs-12 no-pad-r">
							<button class="btn btn-raised btn-success" ng-click="vm.addExToProgram()">Add</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>