<div ng-controller="NavbarCtrl as vm">
	<md-toolbar layout="row" layout-align="center start">
		<div class="layout-max-width" layout="row" flex="">
			<div flex="20" layout="column">
				<a class="logo" ui-sref="/">Parlaria</a>
			</div>
			<div flex="auto" layout="column" layout-align="center">
				<md-nav-bar nav-bar-aria-label="navigation links" layout="row" layout-align="center start" ng-if="$root.firebaseUser">
					<md-nav-item md-nav-sref="words" name="words">Words</md-nav-item>
					<md-nav-item md-nav-sref="notes" name="notes">Notes</md-nav-item>
				</md-nav-bar>
			</div>
			<div flex="20" layout="column" layout-align="center end">
				<md-button ng-if="!$root.firebaseUser" ng-click="vm.signIn()">Sign in</md-button>
				<md-menu ng-if="$root.firebaseUser">
					<md-button class="md-fab md-mini" aria-label="Menu" ng-click="vm.openMenu($mdMenu, $event)">
						<i class="fa fa-ellipsis-h"></i>
					</md-button>
					<md-menu-content width="3">
						<md-menu-item ng-if="$root.firebaseUser">
							<md-button ng-click="vm.signOut()">
								<i class="fa fa-bar-chart"></i> My stats</md-button>
						</md-menu-item>
						<md-menu-item ng-if="$root.firebaseUser">
							<md-button ng-click="vm.signOut()">
								<i class="fa fa-cogs"></i> Settings</md-button>
						</md-menu-item>
						<md-menu-item ng-if="$root.firebaseUser">
							<md-button ng-click="vm.signOut()">
								<i class="fa fa-sign-out"></i> Sign out</md-button>
						</md-menu-item>
					</md-menu-content>
				</md-menu>
			</div>
		</div>
	</md-toolbar>
</div>