<div ng-controller="NavbarCtrl as vm">
	<md-toolbar layout="row" layout-align="center start">
		<div class="layout-max-width" layout="row" flex="">
			<div flex="20" layout="column">
				<a class="logo" ui-sref="/">Parlaria</a>
			</div>
			<div flex="auto" layout="column">
				<md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links" layout="row" layout-align="center start">
					<md-nav-item md-nav-sref="words" name="words">Words</md-nav-item>
					<md-nav-item md-nav-sref="notes" name="notes">Notes</md-nav-item>
				</md-nav-bar>
			</div>
			<div flex="20" layout="column" layout-align="center end">
				<md-menu>
					<md-button class="md-icon-button" aria-label="Menu" ng-click="vm.openMenu($mdMenu, $event)">MENU
						<md-icon md-menu-origin="" md-svg-icon="call:phone"></md-icon>
					</md-button>
					<md-menu-content width="4">
						<md-menu-item>
							<md-button ng-click="vm.redial($event)">
								<md-icon md-svg-icon="call:dialpad" md-menu-align-target=""></md-icon>Redial
							</md-button>
						</md-menu-item>
					</md-menu-content>
				</md-menu>
			</div>
		</div>
	</md-toolbar>
</div>