<div class="navbar navbar-inverse" ng-controller="NavbarCtrl as vm">
	<div class="container">
		<div class="navbar-header">
			<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-inverse-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" ui-sref="/">Parlaria</a>
		</div>
		<div class="navbar-collapse collapse navbar-inverse-collapse">
			<ul class="nav navbar-nav">
				<li ui-sref-active="active" ng-if="$root.firebaseUser">
					<a ui-sref="exercises" href="">exercises</a>
				</li>
				<li ui-sref-active="active" ng-if="$root.firebaseUser">
					<a ui-sref="trainings" href="">trainings</a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a class="dropdown-toggle" data-target="#" data-toggle="dropdown" ng-class="{signed : $root.firebaseUser}">
						<span ng-show="!$root.firebaseUser">login
							<b class="caret"></b>
						</span>
						<span class="userimg" ng-show="$root.firebaseUser">
							<img ng-src="{{$root.firebaseUser.photoURL}}" />
						</span>
					</a>
					<ul class="dropdown-menu">
						<li ng-if="!$root.firebaseUser">
							<a class="navbar_link" ng-click="vm.signIn()">Google</a>
						</li>
						<li ng-if="$root.firebaseUser">
							<a class="navbar_link" ng-click="vm.signOut()">Sign out</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>