html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
    &:before,
    &:after {
        box-sizing: inherit;
    }
}

.no-pad-l {
    padding-left: 0;
}

.no-pad-r {
    padding-right: 0;
}

.row{
	margin-left: 0;
	margin-right: 0;
}

button{
    outline: none !important;
}
