// variables & mixins
@mixin maxw($size) {
    @media (max-width: $size + 'px') {
        @content;
    }
}

@mixin minw($size) {
    @media (min-width: $size + 'px') {
        @content;
    }
}

@mixin haf {
    &:hover,
    &:active,
    &:focus {
        @content;
    }
}

@mixin placeholder {
    &::-webkit-input-placeholder {
        @content;
    }
    &:-moz-placeholder {
        @content;
    }
    &::-moz-placeholder {
        @content;
    }
    &:-ms-input-placeholder {
        @content;
    }
}

@function stroke($stroke, $color) {
  $shadow: ();
  $from: $stroke*-1;
  @for $i from $from through $stroke {
   @for $j from $from through $stroke {
      $shadow: append($shadow, $i*1px $j*1px 0 $color, comma);
    }
  }
  @return $shadow;
}

@mixin stroke($stroke, $color) {
  text-shadow: stroke($stroke, $color);
}

// colors
$c_main: #fff;
$c_black: #393E41;
$c_blue: #3A7CA5;
// fonts
// paths