doctype html
html
head
	meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
	title Parlaria
	base(href="/")

	link(rel="stylesheet", href="vendor/bootstrap/css/bootstrap.min.css")
	link(rel="stylesheet", href="vendor/bootstrap-material-design/bootstrap-material-design.min.css")
	link(rel="stylesheet", href="vendor/fa/css/font-awesome.min.css")
	link(rel="stylesheet", href="css/styles.min.css")
body(ng-cloak ng-app="further")
	main
		div(ng-include="'app/layout/navbar.html'")
		div(ui-view)
	footer
		.container
			| © 
			a.footer_link(href="https://www.linkedin.com/in/serjyamp" target="_blank") Serhii Yampolskyi
			| , 2017. All rights reserved.


	//- vendor files
	script(src="vendor/jquery/jquery.min.js")
	script(src="vendor/bootstrap/js/bootstrap.min.js")
	script(src="vendor/bootstrap-material-design/material.min.js")
	//- angularjs dependencies
	script(src="vendor/angular/angular.concat.js")
	//- app files
	script(src="app/app.js")
